@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i');

/* Global CSS variables */
:root {
  --mainColor: rgb(0, 190, 162);
  --bgColor: rgb(255, 255, 255);
  --fontColor1: rgb(34, 34, 34);
  --fontColor2: rgb(55, 54, 74);
  --accentColor1: rgb(28, 57, 221);
  --accentColor2: rgb(88, 128, 244);
  --mainFont: Helvetica, sans-serif;
  --secFont: Source Sans Pro;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--bgColor);
  text-align: center;
}

h1 {
  font-family: var(--mainFont);
}

p {
  font-family: var(--secFont);
}

.title {
  border-bottom: 4px solid var(--mainColor);
  padding: 1rem;
  margin-bottom: 0;
}

.homepage {
  display: grid;
  grid-template-columns: 20% 1fr 1fr 1fr 10%;
  grid-template-rows: 10vh 10vh 100% 15vh;
}
.homepage h1 {
  display: flex;
  justify-content: space-between;

  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: 1;
}

.photo-list-container {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 5;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  grid-gap: 1rem;
}

.user-list-container {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 5;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  grid-gap: 1rem;
}
.search-form {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
}

.img-container img {
  width: 400px;
  height: 400px;
}

.footer {
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 4;
  grid-row-end: 5;

  text-align: center;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.search-bar {
  height: 40px;
  width: 200px;
  font-size: 14px;
  margin: 10px;
}

.submit-btn {
  height: 40px;
  width: 200px;
  margin: 10px;
  background: rgb(0, 190, 162);
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}

*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  background: var(--bgColor);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  background: var(--bgColor);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  background: var(--bgColor);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  background: var(--bgColor);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  background: var(--bgColor);
}
